{% extends "layout.html" %} {% block body %}

<div class="span6 offset2" style="padding: 10px;">

	{% if message %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		{{message}}
	</div>
	{% end %}

	<div class="span7 div-btn-memorizar">
		<h1>MyMemo</h1>
		<button class="btn btn-large btn-primary btn-memorizar" type="button" id="btn-memorizar">Memorizar</button>
	</div>

	<div class="span7 div-textarea-memorizar">
		<textarea class="textarea-memorizar" cols="" rows="" name="memo" id="memo"></textarea>
	</div>

	<div class="span7 div-buscar-item-memorizado input-append	">
		<input type="text" class="buscar-item-memorizado"
			placeholder="digite o item que gostaria de relembrar">
		<button type="submit" class="btn">Buscar</button>

	</div>


	<div class="span7" style="margin-top: 20px;">

		<table class="table table-itens-memorizados ">
			<tbody>
				<tr>

					<td>
						<div class="accordion" style="width: 530px;">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse"
										data-parent="#accordion" href="#collapseOne"> ultimas
										semanas</a>
								</div>

								<!-- inner accordion -->
								<div id="collapseOne">
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse"
												data-parent="#collapseOne" href="#innerCollapseOne">item
												1 memorizado </a>
										</div>
										<div id="innerCollapseOne" class="accordion-body collapse in">
											<div class="accordion-inner">dsc do Item #1memorizado.</div>
										</div>
									</div>
								</div>

							</div>
						</div>


						<div class="accordion2" style="width: 530px;">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse"
										data-parent="#accordion2" href="#collapseOne2"> Livros
										legais</a>
								</div>

								<!-- inner accordion -->
								<div id="collapseOne2">
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse"
												data-parent="#collapseOne2" href="#innerCollaps2eOne">item
												2 memorizado </a>
										</div>
										<div id="innerCollaps2eOne" class="accordion-body collapse in">
											<div class="accordion-inner">dsc do Item #1memorizado.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>

				</tr>
			</tbody>
		</table>

	</div>

</div>

{% end %}
